@using System;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Hover;
@using System.Collections.Generic;

@namespace Facepunch.Hover.UI
@attribute [StyleSheet( "/ui/AwardItem.scss" )]
@inherits Panel

<root>
    <div class="header">
        <img @ref="Icon" class="icon" />
        <label class="title">@Title</label>
    </div>
    <label class="text">@Text</label>
    <div class="reward">
        <div @ref="Icon" class="icon"></div>
        <label class="amount">@Reward</label>
    </div>
</root>

@code
{
    public float EndTime { get; set; }
    public string Reward { get; set; }
    public Texture Texture { get; set; }
    public string Title { get; set; }
    public string Text { get; set; }
    public Image Icon { get; set; }

    public void Update( string title, string text )
    {
        Title = title;
        Text = text;
    }

    public void SetIcon( Texture texture )
    {
        Texture = texture;
    }

    public void SetReward( int amount )
    {
        Reward = $"{amount:C0}";
    }

    public override void Tick()
    {
        if ( !IsDeleting && Time.Now >= EndTime )
        {
            Delete();
        }
    }

    protected override void OnAfterTreeRender( bool firstTime )
    {
        if ( Texture is not null )
        {
            Icon.Texture = Texture;
        }

        base.OnAfterTreeRender( firstTime );
    }
}
