@import "_variables.scss";

BindingLabel {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        font-family: $mainFont;
        color: white;
        text-transform: uppercase;
        text-shadow: $text-shadow;
    }

    img {
        margin-left: 16px;
        margin-right: 16px;
        width: 10%;
        height: 10%;
    }

    .hold {
        display: none;
        color: lightgray;

        &.visible {
            display: flex;
        }
    }
}
