@import "_variables.scss";
floatingdamage {
  justify-content: center;
  align-items: center;

  .damage {
    transition: all 0.7s ease-out;

    &:intro {
      font-size: 150px;
    }

    font-family: $mainFont;
    font-size: 92px;
    font-weight: bold;
    text-shadow: 0px 0px 8px rgba(255 0 0 1);
    color: red;
  }

  &.hidden {
    display: none;
  }
}
