@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Hover;
@using System.Collections.Generic;

@namespace Facepunch.Hover.UI
@attribute [StyleSheet( "/ui/Hud.scss" )]
@inherits RootPanel

@{
    var player = Game.LocalPawn as HoverPlayer;
}

<root class="@(player.IsValid() ? player.Team.GetHudClass() : "")">
    <LongshotScope></LongshotScope>
    <RoundInfo></RoundInfo>

    <div class="hud_left">

    </div>

    <div class="hud_center">
        <Vitals></Vitals>
        <Speedometer></Speedometer>
    </div>

    <div class="hud_right">
        <Ammo></Ammo>
        <WeaponList></WeaponList>
    </div>

	<Tokens></Tokens>
	<Radar></Radar>
    <OutpostList></OutpostList>
    <VoiceList></VoiceList>
    <DamageIndicator></DamageIndicator>
    <HitIndicator></HitIndicator>
    <InputHints></InputHints>
    <Scoreboard></Scoreboard>
    <StationScreen></StationScreen>
    <RespawnScreen></RespawnScreen>
    <AwardQueue></AwardQueue>
    <ToastList></ToastList>
    <TutorialScreen></TutorialScreen>
    <VictoryScreen></VictoryScreen>
    <ChatBox></ChatBox>
</root>

@code
{
	public static RootPanel Anchors { get; internal set; }
	private static List<EntityHudAnchor> PendingAnchors { get; set; } = new();

	public static void AddPendingAnchors()
	{
		foreach ( var anchor in PendingAnchors )
		{
			Anchors?.AddChild( anchor );
		}
	}

    public static void AddAnchor( EntityHudAnchor anchor )
    {
	    if ( Anchors == null )
	    {
		    PendingAnchors.Add( anchor );
		    return;
	    }
	    
	    Anchors?.AddChild( anchor );
    }

    protected override int BuildHash()
    {
        var player = Game.LocalPawn as HoverPlayer;
        if ( !player.IsValid() ) return 0;
        return HashCode.Combine( player, player.Team );
    }
}
