@import "_variables.scss";

rootpanel {
  background-color: rgba(#333, 0);
  transition: background-color 0.2s ease-in;
  transform-origin: 50% 50%;

  &.devcamera {
    display: none;
  }
}

.hud_left {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 32px;
  left: 64px;
}

.hud_center {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hud_right {
  //background-color: red;
  position: absolute;
  bottom: 32px;
  right: 64px;
}

voicelist {
  font-family: $mainFont;

  voiceentry {
    background-color: $blueTeamPanelBg;
    box-shadow: $blueTeamBackground;
    border: $blueTeamPanelBorder;
    background-color: rgba(black, 0.8);
  }
}

.team_red {
  voicelist {
    voiceentry {
      background-color: $redTeamPanelBg;
      box-shadow: $redTeamBackground;
      border: $redTeamPanelBorder;
    }
  }
}

vitals {
  color: #fff;
  font-family: $mainFont;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  position: relative;

  hudiconbar {
    width: 80px;
    position: relative;
  }

  .icon {
    margin-left: 0;
  }

  .outerbar {
    background-color: $panel-bg;
    position: absolute;
    border-radius: 0;
    bottom: -6px;
    left: 0;
    right: 0;
    width: auto;
    height: 4px;

    .innerBar {
      border-radius: 0;
    }
  }

  .divider {
    width: 2px;
    background-color: rgba(#fff, 0.2);
    height: 130%;
    margin: 0 16px;
  }

  .energy {
    .innerBar {
      background-color: rgba(0 170 255 0.5);
    }

    .text {
      transition: all 0.25s ease-out;
      text-shadow: $blueTeamShadow;
    }

    .icon {
      background-image: url(/ui/icons/energy.png);
      background-image-tint: rgba(0 170 255 1);
    }

    &.grow {
      transition: all 0.25s ease-out;

      .text {
        text-shadow: $selectedTabShadow;
        right: 4px;
      }
    }
  }

  .health {
    .innerBar {
      background-color: rgba(0 255 0 0.5);
    }

    .text {
      transition: all 0.25s ease-out;
      text-shadow: $blueTeamShadow;
    }

    .icon {
      background-image: url(/ui/icons/health.png);
      background-image-tint: rgba(0 255 0 1);
    }

    &.grow {
      transition: all 0.25s ease-out;

      .text {
        text-shadow: $selectedTabShadow;
        right: 4px;
      }
    }
  }

  &.hidden {
    display: none;
  }
}

tokens {
  box-shadow: $blueTeamBackground;
  background-color: $blueTeamPanelBg;
  border-radius: 8px;
  border: $blueTeamPanelBorder;
  padding: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: $mainFont;
  flex-direction: row;
  position: absolute;
  min-width: 200px;
  height: 72px;
  color: #fff;
  right: 64px;
  top: 32px;

  .icon {
    background-image: url(/ui/icons/tokens.png);
    background-size: 100%;
    text-shadow: $tokenShadow;
    margin-right: 8px;
    width: 40px;
    height: 40px;
  }

  .amount {
    text-shadow: $tokenShadow;
    font-size: 32px;
    color: $tokenColor;
  }
}

.team_red {
  tokens {
    border: $redTeamPanelBorder;
    background-color: $redTeamPanelBg;
    box-shadow: $redTeamBackground;

    .icon {
      text-shadow: $redTeamShadow;
    }

    .amount {
      text-shadow: $redTeamShadow;
    }
  }
}

.team_red {
  vitals {
    .health {
      .text {
        text-shadow: $redTeamShadow;
      }
    }

    .energy {
      .text {
        text-shadow: $redTeamShadow;
      }
    }
  }
}
