@import "_variables.scss";

Nameplate {
  align-items: center;
  justify-content: center;

  .container {
    font-weight: bold;
    color: lighten( $blueTeamColor, 0.6 );
    font-size: 80px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: $blueTeamBackground;
    background-color: $blueTeamPanelBg;
    border: $blueTeamPanelBorder;
    background-size: cover;
    border-radius: 16px;
    position: absolute;
    padding: 16px 48px;

    .name {
      font-family: Roboto;
      text-shadow: $blueTeamShadow;
    }
  }

  .dot {
    background-color: $blueTeamColor;
    box-shadow: $blueTeamForeground;
    border: $blueTeamPanelBorder;
    position: absolute;
    border-radius: 50%;
    width: 96px;
    height: 96px;
  }

  &.hidden {
    display: none;
  }

  &.team_red {
    .dot {
      background-color: $redTeamColor;
      box-shadow: $redTeamForeground;
      border: $redTeamPanelBorder;
    }

    .container {
      box-shadow: $redTeamBackground;
      background-color: $redTeamPanelBg;
      border: $redTeamPanelBorder;
      color: lighten( $redTeamColor, 0.6 );

      .name {
        text-shadow: $redTeamShadow;
      }
    }
  }
}
