@import "Variables.scss";

nameplates {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;

	nameplate {
		position: absolute;
		font-weight: 500;
		color: $blueTeamColor;
		font-size: 40px;
		transform-origin: 50% 0%;
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		box-shadow: $blueTeamBackground;
		background-color: $blueTeamPanelBg;
		border: $blueTeamPanelBorder;
		background-size: 100%;
		font-family: Roboto;
		padding: 8px;

		label {
			padding: 1px 60px;
			padding-left: 40px;
			font-family: $mainFont;
			text-shadow: $blueTeamShadow;
		}

		&.team_red {
			box-shadow: $redTeamBackground;
			background-color: $redTeamPanelBg;
			border: $redTeamPanelBorder;
			color: $redTeamColor;

			label {
				text-shadow: $blueTeamShadow;
			}
		}
	}
}
