@import "Variables.scss";

nameplates {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;

	nameplate {
		position: absolute;
		font-weight: 500;
		color: white;
		font-size: 40px;
		transform-origin: 50% 0%;
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		box-shadow: $blueTeamBackground;
		background-size: 100%;
		font-family: Roboto;
		padding: 32px;

		label {
			padding: 1px 60px;
			padding-left: 40px;
			text-shadow: $blueTeamShadow;
		}

		&.enemy {
			color: red;
		}
	}
}

.team_red {
	nameplates {
		nameplate {
			box-shadow: $redTeamBackground;

			label {
				text-shadow: $blueTeamShadow;
			}
		}
	}
}