@import "_variables.scss";

roundInfo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;

  .round-info {
    background-color: $panel-bg;
    backdrop-filter: $default-blur;
    flex-direction: column;
    width: 260px;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);

    .round-name {
      color: $light-blue;
      text-align: center;
      font-family: $mainFont;
      font-size: 16px;
      letter-spacing: 2px;
    }
    .round-time {
      background-color: rgba(#000, 0.3);
      color: #fff;
      font-family: $fontBold;
      font-size: 18px;
      text-align: center;
      text-shadow: $text-shadow;
    }

    &.roundNameOnly {
      .round-time {
        display: none;
      }
    }
  }
}

.team_red {
  roundInfo {
    .round-info {
      .round-name {
        color: $light-red;
      }
    }
  }
}
