@import "_variables.scss";

RoundScore {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  z-index: 5;

  .container {
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 84px;

    RoundScoreItem {
      align-items: center;
	  justify-content: center;
      width: 130px;
	  
      .score {
        font-family: $mainFont;
        font-size: 28px;
        color: white;
        text-align: center;
      }
    }

    .blue {
      background-color: $blue;
    }

    .red {
      background-color: $red;
    }
  }
}
