@using System;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Hover;
@using System.Collections.Generic;

@namespace Facepunch.Hover.UI
@attribute [StyleSheet( "/ui/RoundInfo.scss" )]
@inherits Panel

<root>
    <div @ref="Container" class="round-info">
        <text class="round-name">@RoundName</text>
        <text class="round-time">@TimeLeft</text>
    </div>
</root>

@code
{
    public Panel Container { get; set; }

    public string RoundName => HoverGame.Round?.RoundName ?? string.Empty;
    public string TimeLeft => TimeSpan.FromSeconds( HoverGame.Round?.TimeLeftSeconds ?? 0 ).ToString( @"mm\:ss" );

    public override void Tick()
    {
        var player = Game.LocalPawn;
        if ( player == null ) return;

        var round = HoverGame.Round;
        if ( round == null ) return;

        if ( round.RoundDuration > 0 )
            Container.SetClass( "roundNameOnly", false );
        else
            Container.SetClass( "roundNameOnly", true );

        base.Tick();
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( TimeLeft, RoundName );
    }
}
