simpleiconbar {
	align-items: center;
	display: flex;
	flex-direction: row;
	color: #fff;
	height: 36px;
	width: 300px;

	.outerBar {
		background-color: rgba( 0 255 0 0.15 );
		box-shadow: 0px 0px 2px 2px rgba( 0 0 0 0.1 );
		border-radius: 8px;
		width: 100%;
		height: 24px;
	}

	.innerBar {
		background-color: rgba( 0 255 0 0.5 );
		border-radius: 8px;
		width: 100%;
		height: 100%;
		min-width: 1px;

		&.hidden {
			display: none;
		}
	}

	.icon {
		background-image: url( /ui/icons/health.png );
		background-size: 100%;
		margin-right: 16px;
		text-shadow: 0px 0px 6px rgba(0, 255, 255, 1);
		width: 32px;
		height: 32px;

		&.hidden {
			display: none;
		}
	}

	&.hidden {
		display: none;
	}

	&.low {
		.text {
			color: #ff9f9f;
		}

		.innerBar {
			background-color: rgba( 255 0 0 0.5 );
		}
	}
}
