@import "_variables.scss";

toastlist {
  flex-direction: column;
  flex-grow: 0;
  position: absolute;
  right: 64px;
  bottom: 300px;
  z-index: 13;

  killfeeditem {
    align-self: flex-end;
    align-items: center;
    background-color: $panel-bg;
    backdrop-filter-blur: 8px;
    flex-direction: row;
    margin-top: 4px;
    padding: 4px 16px;
    transition: all 1s ease-out;
    opacity: 1;
    bottom: 0;

    &:intro {
      opacity: 0;
      bottom: -20px;
    }

    &:outro {
      opacity: 0;
      bottom: 20px;
      transition: all 1s ease-out;
    }

    label,
    text {
      color: #fff;
      font-family: $mainFont;
      font-size: 16px;
      flex-grow: 1;
    }

    .attacker {
      flex-grow: 1;
      font-family: $fontBold;

      &.hidden {
        display: none;
      }
    }

    .victim {
      flex-grow: 1;
    }

    .icon {
      width: 48px;
      height: 48px;
      margin: 0 16px;
    }
  }

  toastitem {
    align-self: flex-start;
    align-items: center;
    background-color: $panel-bg;
    backdrop-filter-blur: 8px;
    flex-direction: row;
    margin-top: 8px;
    padding: 4px 8px;
    transition: all 1s ease-out;
    opacity: 1;
    bottom: 0;

    &:intro {
      opacity: 0;
      bottom: -20px;
    }

    &:outro {
      opacity: 0;
      bottom: 20px;
      transition: all 1s ease-out;
    }

    .text {
      color: white;
      font-size: 16px;
      font-family: $mainFont;
      margin-left: 8px;
      flex-grow: 1;
      margin-right: 16px;
      text-shadow: $text-shadow;
    }

    .icon {
      width: 30px;
      height: 30px;
      text-shadow: $blueTeamShadow;

      &.hidden {
        display: none;
      }
    }
  }
}
