@import "_variables.scss";

tutorialscreen {
  pointer-events: all;
  backdrop-filter-blur: 32px;
  background-color: rgba(0 0 0 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 7;

  .container {
    box-shadow: $selectedTabBackground;
    background-color: $selectedTabPanelBg;
    border: $selectedTabPanelBorder;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 32px;
    margin-top: 16px;
    width: 60%;

    .title {
      font-size: 48px;
      text-shadow: $selectedTabShadow;
      color: $selectedTabColor;
    }

    .help {
      text-shadow: $selectedTabShadow;
      font-size: 24px;
      margin-top: 32px;
      color: white;
    }
  }

  &.hidden {
    display: none;
  }
}

tutorialscreenbutton {
  width: 250px;
  border-radius: 16px;
  cursor: pointer;
  padding: 16px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255 216 0 0.2);
  border: 2px solid rgba(255 216 0 0.4);
  box-shadow: $tokenBackground;
  transition: all 0.1s ease-out;

  .label {
    color: $tokenColor;
    text-shadow: $tokenShadow;
    font-size: 24px;
    font-family: $mainFont;
  }

  &:hover {
    sound-in: hover.hoversharp;
    transform: scale(1.02 1.04);
    background-color: rgba(255 216 0 0.4);
    border: 2px solid rgba(255 216 0 0.6);
  }
}
