@import "_variables.scss";

tutorialscreen {
  pointer-events: all;
  backdrop-filter-blur: 32px;
  background: linear-gradient(rgba(#17181a, 0.8), rgba(#0f2b2b, 0.8));
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 50;

  .container {
    display: flex;
    flex-direction: row;
    padding: 32px;
    margin-top: 16px;
    width: 60%;

    .steps-container {
      align-items: flex-start;
      flex-direction: column;
      flex: 1;
      width: 100%;

      .game-name {
        background-color: $panel-bg;
        color: $light-blue;
        font-family: $fontBold;
        padding: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .title {
        background-color: $blue;
        align-self: flex-start;
        font-size: 64px;
        font-family: $fontBold;
        color: $dark-grey;
        padding: 8px 16px;
        margin-bottom: 48px;
      }

      .step {
        flex-direction: column;
        max-width: 600px;
        margin-bottom: 16px;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          font-family: $mainFont;
          text-transform: uppercase;
          text-shadow: $text-shadow;
        }

        .step-number {
          background-color: $panel-bg;
          color: $light-blue;
          padding: 8px 16px;
        }
        .step-body {
          color: #fff;
          background-color: $panel-bg-light;
          padding: 16px;
        }
      }
    }

    .buttons-container {
      align-items: flex-end;
      width: 340px;

      .buttons {
        flex-direction: column;
        width: 100%;

        tutorialscreenbutton {
          width: 100%;
          cursor: pointer;
          padding: 24px 8px;
          margin-top: 32px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: $blue;
          transition: all 0.1s ease-out;
          text-transform: uppercase;

          &.secondary-button {
            background-color: transparent;
            border: 2px solid rgba($blue, 0.2);

            label {
              color: $blue;
            }
          }

          &:first-child {
            margin-top: 0;
          }

          label {
            padding: 0;
            margin: 0;
            color: $dark-grey;
            font-size: 16px;
            font-family: $fontBold;
          }

          &:hover {
            sound-in: hover.hoversharp;
            box-shadow: 0 10px 30px rgba(#000, 0.5);
            bottom: 5px;
          }
        }
      }
    }

    .help {
      color: $light-blue;
      font-family: $mainFont;
      font-size: 24px;
      margin-top: 32px;
    }
  }

  &.hidden {
    display: none;
  }
}
