// Blue
$blueTeamIcon: url( /ui/icons/blue.png );
$blueTeamTint: cyan;
$blueTeamColor: cyan;
$blueTeamShadow: 0px 0px 6px rgba(0 255 255 1);
$blueTeamBackground: 0px 0px 32px -2px rgba( 18 210 255 0.05 );
$blueTeamForeground: 0px 0px 32px -2px rgba( 18 210 255 0.2 );

// Red
$redTeamIcon: url( /ui/icons/red.png );
$redTeamTint: tomato;
$redTeamColor: tomato;
$redTeamShadow: 0px 0px 6px rgba(255 0 0 1);
$redTeamBackground: 0px 0px 32px -2px rgba( 255 75 75 0.1 );
$redTeamForeground: 0px 0px 32px -2px rgba( 255 75 75 0.2 );

// Tokens
$tokenColor: yellow;
$tokenShadow: 0 -1px 4px #FFF 0 -2px 10px #ff0 0 -10px 20px #ff8000 0 -18px 40px;

// Chat
$chatInfoColor: yellow;
$chatInfoShadow: 0px 0px 6px rgba(255 255 0 1);
$chatInfoBackground: 0px 0px 32px -2px rgba( 210 255 0 0.05 );