@import "_variables.scss";

weaponlist {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  bottom: 100px;
  right: 0;
  width: 300px;

  &.closed {
      weaponlistitem {
          
      }
  }

  &.hidden {
    display: none;
  }
}
