@import "_variables.scss";

weaponlist {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  bottom: 100px;
  right: 0;
  width: 300px;

  &.closed {
    opacity: 0.8;

    weaponlistitem {
      .icon-container {
        overflow: hidden;
        height: 0;
        opacity: 0;
      }

      &.active {
        .weapon-name {
          .name {
            margin-left: 0;
          }
        }
      }
    }
  }

  &.hidden {
    display: none;
  }
}
