@import "Variables.scss";

weaponlist {
	position: absolute;
	display: flex;
	flex-direction: row;
	box-shadow: $blueTeamBackground;
	padding: 16px;
	bottom: 32px;
	right: 64px;

	.weapon {
		display: flex;
		flex-direction: column;
		align-items: center;

		.icon {
			width: 96px;
			height: 96px;
		}

		.name {
			text-shadow: $blueTeamShadow;
			margin-top: -20px;
			font-size: 20px;
			color: white;
		}

		&.active {
			box-shadow: $blueTeamForeground;

			.name {
				color: $blueTeamColor;
			}
		}

		&.hidden {
			display: none;
		}
	}

	&.hidden {
		display: none;
	}
}

.team_red {
	weaponlist {
		box-shadow: $redTeamBackground;

		.weapon {
			.name {
				text-shadow: $redTeamShadow;
			}

			&.active {
				box-shadow: $redTeamForeground;

				.name {
					color: $redTeamColor;
				}
			}
		}
	}
}
