@import "_variables.scss";

WorldDeployableHud {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $blueTeamForeground;
    background-color: $blueTeamPanelBg;
    transition: all 0.2s ease-in-out;
    border: $blueTeamPanelBorder;
    border-radius: 8px;

    label {
      text-shadow: $blueTeamShadow;
      box-shadow: $blueTeamForeground;
      font-family: $mainFont;
      color: white;
      font-size: 24px;
    }

    SimpleIconBar {
      box-shadow: $blueTeamForeground;
      border-radius: 8px;
      padding: 8px;

      .innerBar {
        background-color: rgba(255 216 0 0.8);
        min-width: 8px;
      }

      .icon {
        display: none;
      }

      &.hidden {
        display: none;
      }
    }
  }

  &.hidden {
    display: none;
  }

  &.team_red {
    .container {
      box-shadow: $redTeamForeground;
      background-color: $redTeamPanelBg;
      border: $redTeamPanelBorder;

      .label {
        background-color: $redTeamPanelBg;
        text-shadow: $redTeamShadow;
        box-shadow: $redTeamForeground;
        border: $redTeamPanelBorder;
      }

      SimpleIconBar {
        box-shadow: $redTeamForeground;
      }
    }
  }
}
