KeyBind
{
	background-color: #ffffff05;
	padding: 10px;
	font-size: 13px;
	text-align: center;
	width: 200px;
	cursor: pointer;
	color: #fff;

	&.with-highlight
	{
		color: #eee;
	}

	&:hover
	{
		background-color: #ffffff11;
	}

	&.active
	{
		background-color: #fff;
		color: #aaa;
	}
}

SettingsPage {
	section {
		background-color: rgba( #000, 0.6 );
		border-radius: 16px;
		padding: 16px;
		width: 50%;
	}
}