@import "../_variables.scss";

LoadoutSelectList {
    display: flex;
    flex-direction: row;
    padding: 16px;

    .light {
        background-color: green;
    }

    .medium {
        background-color: orange;
    }

    .heavy {
        background-color: purple;
    }
}
