@import "../_variables.scss";

LoadoutWeaponItem {
  &.hidden {
    display: none;
  }
  &:hover {
    sound-in: hover.hoversharp;
  }

  &:last-child {
    margin-right: 0;
  }

  &.weapon {
    background-color: $panel-bg;
    background-filter: $default-blur;
    cursor: pointer;
    flex-direction: column;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 8px 16px;
    width: 100%;
    height: 180px;
    transition: all 0.1s ease;

    &:hover {
      background-color: rgba(#000, 0.8);
      box-shadow: 0 5px 20px rgba(#000, 0.1);

      .weapon-level {
        background-color: $dark-grey;
      }

      .weapon-name {
        color: $dark-grey;
      }

      .weapon-fill {
        opacity: 1;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
    }

    .weapon-fill {
      background-color: $blue;
      opacity: 0;
      position: absolute;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      transition: all 0.2s ease;
    }

    .weapon-name {
      align-items: center;
      color: #fff;
      font-family: $fontBold;
      font-size: 18px;
      height: 40px;
      margin-right: 48px;
    }

    .weapon-level {
      background-color: rgba($dark-grey, 0.1);
      color: $blue;
      font-family: $fontBold;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      transition: all 0.1s ease;
    }

    .weapon-icon {
      min-height: 60px;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .weapon-image {
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
      }
    }
  }
}
