GameMenu FrontPage
{
	margin: 100px 100px;
	gap: 100px;

	.game-title
	{
		font-family: Quantico-Bold;
		font-weight: 700;
		font-size: 96px;
		color: #caab4d;
	}
	
	&.team_blue {
		.game-title {
			color: #caab4d;
		}
	}
	
	&.team_red {
		.game-title {
			color: crimson;
		}
	}

	.controls
	{
		flex-direction: column;
		gap: 8px;
		align-items: flex-start;
	}
}

GameMenu {
	&.team_red {
		FrontPage {
			.game-title {
				color: crimson;
			}
		}
	}
}