@using System;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Hover;
@using System.Collections.Generic;

@namespace Facepunch.Hover.UI
@attribute [StyleSheet( "/ui/respawnscreen/RespawnKillerInfo.scss" )]
@inherits Panel

<div>
  <div class="respawn-box team-box player-name">
    <div class="respawn-header">
      <label>Killed By</label>
    </div>
    <div class="respawn-body">
      <img src=@Icon class="avatar" />
      <label @ref="KillerNameLabel">@KillerName</label>
    </div>
  </div>

  <div class="respawn-box team-box weapon">
    <div class="respawn-header">
      <label>Using</label>
    </div>
    <div class="respawn-body">
      <label @ref="WeaponNameLabel">@WeaponName</label>
    </div>
  </div>
</div>

@code
{
    public string Icon { get; set; }
    public string KillerName { get; set; }
    public string WeaponName { get; set; }
    public Label KillerNameLabel { get; set; }
    public Label WeaponNameLabel { get; set; }
    public Color KillerNameColor { get; set; }
    public Color WeaponNameColor { get; set; }

	private Team CurrentTeam { get; set; }

	public void SetVisible( bool isVisible )
	{
		SetClass( "hidden", !isVisible );
	}

    public void Update( HoverPlayer player )
    {
        Icon = $"avatar:{player.Client.SteamId}";
        KillerNameColor = player.Team.GetColor().Darken( 0.4f );
        KillerName = player.Client.Name;
        SetTeam( player.Team );
    }

    public void Update( IKillFeedIcon killer )
    {
        Icon = killer.GetKillFeedIcon();
        KillerNameColor = killer.GetKillFeedTeam().GetColor().Darken( 0.4f );
        KillerName = killer.GetKillFeedName();
        SetTeam( killer.GetKillFeedTeam() );
    }

    public void Update( string killerName )
    {
        Icon = "textures/ui/skull.png";
        KillerNameColor = Team.None.GetColor().Darken( 0.4f );
        KillerName = killerName;
        SetTeam( Team.None );
    }

    public void SetTeam( Team team )
    {
        SetClass( CurrentTeam.GetHudClass(), false );
        SetClass( team.GetHudClass(), true );
        CurrentTeam = team;
    }

    public void SetWeapon( Entity weapon )
    {
        if ( weapon.IsValid() && !weapon.IsWorld )
        {
            SetClass( "has-weapon", true );

            WeaponNameColor = CurrentTeam.GetColor().Darken( 0.4f );

            if ( weapon is IKillFeedIcon feed )
                WeaponName = feed.GetKillFeedName();
            else if ( weapon is Weapon typed )
                WeaponName = typed.Config.Name;
            else
                WeaponName = weapon.Name;
        }
        else
        {
            SetClass( "has-weapon", false );
        }
    }

    protected override void OnAfterTreeRender( bool firstTime )
    {
        WeaponNameLabel.Style.FontColor = WeaponNameColor;
        KillerNameLabel.Style.FontColor = KillerNameColor;

        base.OnAfterTreeRender( firstTime );
    }


    protected override int BuildHash()
    {
        return HashCode.Combine( WeaponName, KillerName, Icon );
    }
}
